## Assignment week 7 & 8 - Biswajit Sharma

### Chapter 7

In [51]:
import pandas as pd

In [52]:
# Set up display options
pd.options.display.max_columns=60
pd.options.display.max_rows=50
pd.options.display.max_colwidth=80

In [53]:
# Read  Museum of Art Open Access CSV file into a pandas dataframe. 
# Using chunksize of 1000 as the dataset is too large
with pd.read_csv("./MetObjects.txt", chunksize=1000) as reader:
    for chunk in reader:
        df = chunk
        break #using only one chunk for this assignment

In [54]:
# Check dataset column name and types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            1000 non-null   object
 1   Is Highlight             1000 non-null   bool
 2   Is Timeline Work         1000 non-null   bool
 3   Is Public Domain         1000 non-null   bool
 4   Object ID                1000 non-null   int64
 5   Gallery Number           788 non-null    float64
 6   Department               1000 non-null   object
 7   AccessionYear            993 non-null    float64
 8   Object Name              1000 non-null   object
 9   Title                    1000 non-null   object
 10  Culture                  801 non-null    object
 11  Period                   0 non-null      float64
 12  Dynasty                  0 non-null      float64
 13  Reign                    0 non-null      float64
 14  Portfolio                0 non-null      float64
 15  Constituent ID           384 non-null    object
 16  Artist Role              384 non-null    object
 17  Artist Prefix            384 non-null    object
 18  Artist Display Name      384 non-null    object
 19  Artist Display Bio       384 non-null    object
 20  Artist Suffix            384 non-null    object
 21  Artist Alpha Sort        384 non-null    object
 22  Artist Nationality       384 non-null    object
 23  Artist Begin Date        384 non-null    object
 24  Artist End Date          384 non-null    object
 25  Artist Gender            63 non-null     object
 26  Artist ULAN URL          258 non-null    object
 27  Artist Wikidata URL      221 non-null    object
 28  Object Date              1000 non-null   object
 29  Object Begin Date        1000 non-null   int64
 30  Object End Date          1000 non-null   int64
 31  Medium                   1000 non-null   object
 32  Dimensions               1000 non-null   object
 33  Credit Line              1000 non-null   object
 34  Geography Type           883 non-null    object
 35  City                     415 non-null    object
 36  State                    70 non-null     object
 37  County                   70 non-null     object
 38  Country                  883 non-null    object
 39  Region                   47 non-null     object
 40  Subregion                0 non-null      float64
 41  Locale                   0 non-null      float64
 42  Locus                    0 non-null      float64
 43  Excavation               0 non-null      float64
 44  River                    0 non-null      float64
 45  Classification           0 non-null      float64
 46  Rights and Reproduction  7 non-null      object
 47  Link Resource            1000 non-null   object
 48  Object Wikidata URL      806 non-null    object
 49  Metadata Date            0 non-null      float64
 50  Repository               1000 non-null   object
 51  Tags                     304 non-null    object
 52  Tags AAT URL             304 non-null    object
 53  Tags Wikidata URL        304 non-null    object
dtypes: bool(3), float64(13), int64(3), object(35)
memory usage: 401.5+ KB

In [55]:
# view few rows
df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Constituent ID,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date,Artist Gender,Artist ULAN URL,Artist Wikidata URL,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,16429,Maker,,James Barton Longacre,"American, Delaware County, Pennsylvania 1794–1869 Philadelphia, Pennsylvania",,"Longacre, James Barton",American,1794,1869,NaN,http://vocab.getty.edu/page/ulan/500011409,https://www.wikidata.org/wiki/Q3806459,1853,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,NaN,NaN,107,Maker,,Christian Gobrecht,1785–1844,,"Gobrecht, Christian",American,1785,1844,NaN,http://vocab.getty.edu/page/ulan/500077295,https://www.wikidata.org/wiki/Q5109648,1901,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [56]:
#check for missing data
df.isna().sum()

Object Number           0
Is Highlight            0
Is Timeline Work        0
Is Public Domain        0
Object ID               0
                     ...
Metadata Date        1000
Repository              0
Tags                  696
Tags AAT URL          696
Tags Wikidata URL     696
Length: 54, dtype: int64

##### Filter out missing data

In [57]:
# Lets filter rows if we have NA in any of the columns ["Gallery Number ","Country", "City"]
df = df.dropna(how="any",subset=["Gallery Number","Country", "City"])

##### Fill in missing data

In [58]:
# check missing data after filtering
df.isna().sum()

Object Number          0
Is Highlight           0
Is Timeline Work       0
Is Public Domain       0
Object ID              0
                    ...
Metadata Date        370
Repository             0
Tags                 295
Tags AAT URL         295
Tags Wikidata URL    295
Length: 54, dtype: int64

In [59]:
# Count of each data values in Culture column
df["Culture"].value_counts()

Culture
American                     323
British                       16
American, Shaker              11
British, probably              6
Dutch                          2
British (American market)      2
American or French             1
French                         1
Chinese                        1
American or British            1
French, possibly               1
Name: count, dtype: int64

In [60]:
# Lets fill ["Culture"] column with most frequent value
df = df.fillna(value={"Culture": "American"})

In [61]:
# Check if nulls are filled in Culture column
df["Culture"].isna().sum()

0

In [62]:
# Lets fill ["Region"] column with backward fill
df["Region"] = df["Region"].ffill()

In [63]:
# Check if nulls are filled in Region column
df["Region"].isna().sum()

42

### Chapter 8

##### Reshape

In [64]:
# Create a subset of dataframe with few columns
df_subset = df[["Object Name", "Artist Role", "Medium"]].dropna()

In [65]:
# View few rows of subset 
df_subset.head()

,Object Name,Artist Role,Medium
32,Bust,Maker,Pressed glass
33,Clock,Maker,"Mahogany, laminated"
34,Vase,Designer|Manufacturer,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
35,Side Chair,Maker,"Oak, tulip poplar"
39,Ale glass,Maker,Pressed glass

In [66]:
# Shape before comverting to long format
df_subset.shape

(272, 3)

In [67]:
# Using melt to convert from wide to long format
pd.melt(df_subset, value_vars=["Object Name", "Artist Role", "Medium"])

        variable                                      value
0    Object Name                                       Bust
1    Object Name                                      Clock
2    Object Name                                       Vase
3    Object Name                                 Side Chair
4    Object Name                                  Ale glass
..           ...                                        ...
811       Medium                                     Silver
812       Medium  Oak, poplar, pearwood or applewood veneer
813       Medium  Oak, poplar, pearwood or applewood veneer
814       Medium           Walnut, maple, white pine, glass
815       Medium  Rosewood, tulipwood, cherry, poplar, pine

[816 rows x 2 columns]

In [68]:
# Shape after comverting to long format
df_subset.shape

(272, 3)

##### Combine and Merge Datasets

In [69]:
# Create a subset of main dataframe using some columns
df_left = df[['Object Number',
 'Object ID',
 'Gallery Number',
 'Department',
 'AccessionYear',
 'Object Name',
 'Title',
 'Culture',
 'Period',
 'Dynasty',
 'Reign',
 'Portfolio']]
# Shape of df
df_left.shape

(370, 12)

In [70]:
# Create another subset of main dataframe using another set of columns
df_right = df[['Object Number',
               'Medium',
 'Dimensions',
 'Credit Line',
 'Geography Type',
 'City',
 'State',
 'County',
 'Country',
 'Region',
 'Subregion',
 'Locale',
 'Locus',
 'Excavation',
 'River',
 'Classification',
 'Link Resource',
 'Object Wikidata URL',
 'Metadata Date',
 'Repository']]

#shape of df
df_right.shape

(370, 20)

In [71]:
# Using pandas merge to perform inner join of two dataframes using `Object Number` column as key
merged_df = pd.merge(df_left,df_right, how="inner", on="Object Number")

In [72]:
# Check few rows of merged dataframe
merged_df.head()

,Object Number,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Link Resource,Object Wikidata URL,Metadata Date,Repository
0,64.62,33,774.0,The American Wing,1964.0,Bust,Bust of Abraham Lincoln,American,NaN,NaN,NaN,NaN,Pressed glass,2 3/4 x 3 1/2 x 2 3/4 in. (7 x 8.9 x 7 cm),"Gift of Teunis G. B. Cortelyou, 1964",Made in,Philadelphia,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/33,https://www.wikidata.org/wiki/Q116250677,NaN,"Metropolitan Museum of Art, New York, NY"
1,1970.289.6,34,774.0,The American Wing,1970.0,Clock,Acorn Clock,American,NaN,NaN,NaN,NaN,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"Gift of Mrs. Paul Moore, 1970",Made in,Bristol,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/34,https://www.wikidata.org/wiki/Q116373732,NaN,"Metropolitan Museum of Art, New York, NY"
2,04.1a–c,35,706.0,The American Wing,1904.0,Vase,The Adams Vase,American,NaN,NaN,NaN,NaN,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro...",Overall: 19 7/16 x 13 x 9 1/4 in. (49.4 x 33 x 23.5 cm); 352 oz. 18 dwt. (10...,"Gift of Edward D. Adams, 1904",Made in,New York,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/35,https://www.wikidata.org/wiki/Q83545838,NaN,"Metropolitan Museum of Art, New York, NY"
3,1976.319,36,774.0,The American Wing,1976.0,Side Chair,Side Chair,American,NaN,NaN,NaN,NaN,"Oak, tulip poplar",40 x 25 1/2 x 34 1/2 in. (101.6 x 64.8 x 87.6 cm),"Gift of Charlotte Pickman-Gertz, 1976",Made in,Lebanon,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/36,https://www.wikidata.org/wiki/Q116373733,NaN,"Metropolitan Museum of Art, New York, NY"
4,46.140.143,40,774.0,The American Wing,1946.0,Ale glass,Ale Glass,American,NaN,NaN,NaN,NaN,Pressed glass,H. 6 9/16 in. (16.7 cm); Diam. 3 in. (7.6 cm),"Gift of Mrs. Emily Winthrop Miles, 1946",Made in,East Cambridge,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/40,https://www.wikidata.org/wiki/Q116373727,NaN,"Metropolitan Museum of Art, New York, NY"

In [73]:
# Shape of merged dataframe
merged_df.shape

(370, 31)

The shape of merged datframe shows all the columns from left and right dataframesm

##### Pivot the data

In [74]:
# Creating a pivot table to report name character length of Artist by `Artist role` and `Object Name` using pivot table
df.pivot_table(index=["Artist Role"], columns=["Object Name"], values=["Artist Display Name"], aggfunc=len, fill_value=0)

                                          Artist Display Name          \
Object Name                                         Ale glass Andiron
Artist Role
Architect                                                   0       0
Artist                                                      0       0
Decorator|Manufacturer                                      0       0
Designer                                                    0       0
Designer|Maker                                              0       2
Designer|Maker|Maker                                        0       0
Designer|Manufacturer                                       0       0
Designer|Manufacturer|Decorator|Designer                    0       0
Designer|Manufacturer|Maker                                 0       0
Maker                                                       2      14
Maker|Designer                                              0       0
Maker|Maker                                                 0       0
Maker|Maker|Decorator|Decorator|Decorator                   0       0
Maker|Maker|Designer                                        0       0
Maker|Manufacturer                                          0       0
Maker|Printer                                               0       0
Manufacturer                                                0       0
Manufacturer|Designer                                       0       0
Manufacturer|Maker                                          0       0
Retailer|Maker                                              0       0

                                                                              \
Object Name                               Architectural elements Argand lamp
Artist Role
Architect                                                      1           0
Artist                                                         0           0
Decorator|Manufacturer                                         0           0
Designer                                                       0           0
Designer|Maker                                                 0           0
Designer|Maker|Maker                                           0           0
Designer|Manufacturer                                          0           0
Designer|Manufacturer|Decorator|Designer                       0           0
Designer|Manufacturer|Maker                                    0           0
Maker                                                          0           2
Maker|Designer                                                 0           0
Maker|Maker                                                    0           0
Maker|Maker|Decorator|Decorator|Decorator                      0           0
Maker|Maker|Designer                                           0           0
Maker|Manufacturer                                             0           0
Maker|Printer                                                  0           0
Manufacturer                                                   0           0
Manufacturer|Designer                                          0           0
Manufacturer|Maker                                             0           0
Retailer|Maker                                                 0           0

                                                                              \
Object Name                               Armchair Astral lamp Baby's bottle
Artist Role
Architect                                        0           0             0
Artist                                           1           0             0
Decorator|Manufacturer                           0           0             0
Designer                                         0           0             0
Designer|Maker                                   0           0             0
Designer|Maker|Maker                             0           0             0
Designer|Manufacturer                            0           0             0
Designer|Manufacturer|Decorator|Designer         0           0             0
Designer|Manufacturer|Maker                      0           0             0
Maker                                           23           2             1
Maker|Designer                                   0           0             0
Maker|Maker                                      4           0             0
Maker|Maker|Decorator|Decorator|Decorator        0           0             0
Maker|Maker|Designer                             0           0             0
Maker|Manufacturer                               0           0             0
Maker|Printer                                    0           0             0
Manufacturer                                     0           0             0
Manufacturer|Designer                            0           0             0
Manufacturer|Maker                               0           0             0
Retailer|Maker                                   0           0             0

                                                                           \
Object Name                               Badge Baluster Banjo clock Bank
Artist Role
Architect                                     0        0           0    0
Artist                                        0        0           0    0
Decorator|Manufacturer                        0        0           0    0
Designer                                      1        0           0    0
Designer|Maker                                0        0           0    0
Designer|Maker|Maker                          0        0           0    0
Designer|Manufacturer                         0        0           0    0
Designer|Manufacturer|Decorator|Designer      0        0           0    0
Designer|Manufacturer|Maker                   0        1           0    0
Maker                                         0        0           2    1
Maker|Designer                                0        0           0    0
Maker|Maker                                   0        0           0    0
Maker|Maker|Decorator|Decorator|Decorator     0        0           0    0
Maker|Maker|Designer                          0        0           0    0
Maker|Manufacturer                            0        0           0    0
Maker|Printer                                 0        0           0    0
Manufacturer                                  0        0           0    0
Manufacturer|Designer                         0        0           0    0
Manufacturer|Maker                            0        1           0    0
Retailer|Maker                                0        0           0    0

                                                                            \
Object Name                               Baptismal bowl Basin Basin Stand
Artist Role
Architect                                              0     0           0
Artist                                                 0     0           0
Decorator|Manufacturer                                 0     0           0
Designer                                               0     0           0
Designer|Maker                                         0     0           0
Designer|Maker|Maker                                   0     0           0
Designer|Manufacturer                                  0     0           0
Designer|Manufacturer|Decorator|Designer               0     0           0
Designer|Manufacturer|Maker                            0     0           0
Maker                                                  1    12           1
Maker|Designer                                         0     0           0
Maker|Maker                                            0     2           0
Maker|Maker|Decorator|Decorator|Decorator              0     0           0
Maker|Maker|Designer                                   0     0           0
Maker|Manufacturer                                     0     0           0
Maker|Printer                                          0     0           0
Manufacturer                                           0     0           0
Manufacturer|Designer                                  0     0           0
Manufacturer|Maker                                     0     0           0
Retailer|Maker                                         0     0           0

                                                                              \
Object Name                               Basin stand Basket Beaker Bean pot
Artist Role
Architect                                           0      0      0        0
Artist                                              0      0      0        0
Decorator|Manufacturer                              0      0      0        0
Designer                                            0      0      0        0
Designer|Maker                                      0      0      0        0
Designer|Maker|Maker                                0      0      0        0
Designer|Manufacturer                               0      0      0        0
Designer|Manufacturer|Decorator|Designer            0      0      0        0
Designer|Manufacturer|Maker                         0      0      0        0
Maker                                               1      6     32        1
Maker|Designer                                      0      0      0        0
Maker|Maker                                         0      0      4        0
Maker|Maker|Decorator|Decorator|Decorator           0      0      0        0
Maker|Maker|Designer                                0      0      0        0
Maker|Manufacturer                                  0      0      0        0
Maker|Printer                                       0      0      0        0
Manufacturer                                        0      0      0        0
Manufacturer|Designer                               0      0      0        0
Manufacturer|Maker                                  0      0      0        0
Retailer|Maker                                      0      0      1        0

                                                                             \
Object Name                               Bedroom Bedstead Bench Berry dish
Artist Role
Architect                                       0        0     0          0
Artist                                          0        0     0          0
Decorator|Manufacturer                          0        0     0          0
Designer                                        0        0     0          0
Designer|Maker                                  0        0     0          0
Designer|Maker|Maker                            0        0     0          0
Designer|Manufacturer                           0        0     0          0
Designer|Manufacturer|Decorator|Designer        0        0     0          0
Designer|Manufacturer|Maker                     0        0     0          0
Maker                                           1        3     3          1
Maker|Designer                                  0        0     1          0
Maker|Maker                                     0        0     0          0
Maker|Maker|Decorator|Decorator|Decorator       0        1     0          0
Maker|Maker|Designer                            0        0     0          0
Maker|Manufacturer                              0        0     0          0
Maker|Printer                                   0        0     0          0
Manufacturer                                    0        0     0          0
Manufacturer|Designer                           0        0     0          0
Manufacturer|Maker                              0        0     0          0
Retailer|Maker                                  0        0     0          0

                                                                       \
Object Name                               Bible Bill holder Birdhouse
Artist Role
Architect                                     0           0         0
Artist                                        0           0         0
Decorator|Manufacturer                        0           0         0
Designer                                      0           0         0
Designer|Maker                                0           1         0
Designer|Maker|Maker                          0           0         0
Designer|Manufacturer                         0           0         0
Designer|Manufacturer|Decorator|Designer      0           0         0
Designer|Manufacturer|Maker                   0           0         0
Maker                                         0           0         1
Maker|Designer                                0           0         0
Maker|Maker                                   0           0         0
Maker|Maker|Decorator|Decorator|Decorator     0           0         0
Maker|Maker|Designer                          0           0         0
Maker|Manufacturer                            0           0         0
Maker|Printer                                 1           0         0
Manufacturer                                  0           0         0
Manufacturer|Designer                         0           0         0
Manufacturer|Maker                            0           0         0
Retailer|Maker                                0           0         0

                                                                  \
Object Name                               Bitters bottle Blotter
Artist Role
Architect                                              0       0
Artist                                                 0       0
Decorator|Manufacturer                                 0       0
Designer                                               0       0
Designer|Maker                                         0       2
Designer|Maker|Maker                                   0       0
Designer|Manufacturer                                  0       0
Designer|Manufacturer|Decorator|Designer               0       0
Designer|Manufacturer|Maker                            0       0
Maker                                                  1       0
Maker|Designer                                         0       0
Maker|Maker                                            0       0
Maker|Maker|Decorator|Decorator|Decorator              0       0
Maker|Maker|Designer                                   0       0
Maker|Manufacturer                                     0       0
Maker|Printer                                          0       0
Manufacturer                                           0       0
Manufacturer|Designer                                  0       0
Manufacturer|Maker                                     0       0
Retailer|Maker                                         0       0

                                                                             \
Object Name                               Blotter holders Bobbin and thread
Artist Role
Architect                                               0                 0
Artist                                                  0                 0
Decorator|Manufacturer                                  0                 0
Designer                                                0                 0
Designer|Maker                                          1                 0
Designer|Maker|Maker                                    0                 0
Designer|Manufacturer                                   0                 0
Designer|Manufacturer|Decorator|Designer                0                 0
Designer|Manufacturer|Maker                             0                 0
Maker                                                   0                 1
Maker|Designer                                          0                 0
Maker|Maker                                             0                 0
Maker|Maker|Decorator|Decorator|Decorator               0                 0
Maker|Maker|Designer                                    0                 0
Maker|Manufacturer                                      0                 0
Maker|Printer                                           0                 0
Manufacturer                                            0                 0
Manufacturer|Designer                                   0                 0
Manufacturer|Maker                                      0                 0
Retailer|Maker                                          0                 0

                                                   ...                         \
Object Name                               Bobeche  ... Butter dish Butter pat
Artist Role                                        ...
Architect                                       0  ...           0          0
Artist                                          0  ...           0          0
Decorator|Manufacturer                          0  ...           0          0
Designer                                        0  ...           0          0
Designer|Maker                                  0  ...           0          0
Designer|Maker|Maker                            0  ...           0          0
Designer|Manufacturer                           0  ...           0          0
Designer|Manufacturer|Decorator|Designer        0  ...           0          0
Designer|Manufacturer|Maker                     0  ...           0          0
Maker                                           1  ...           1          5
Maker|Designer                                  0  ...           0          0
Maker|Maker                                     0  ...           0          0
Maker|Maker|Decorator|Decorator|Decorator       0  ...           0          0
Maker|Maker|Designer                            0  ...           0          0
Maker|Manufacturer                              0  ...           0          0
Maker|Printer                                   0  ...           0          0
Manufacturer                                    0  ...           0          0
Manufacturer|Designer                           0  ...           0          0
Manufacturer|Maker                              0  ...           0          0
Retailer|Maker                                  0  ...           0          0

                                                                            \
Object Name                               Cabinet Clock Decanter Desk Dish
Artist Role
Architect                                       0     0        0    0    0
Artist                                          0     0        0    0    0
Decorator|Manufacturer                          0     0        1    0    0
Designer                                        0     0        0    0    0
Designer|Maker                                  0     0        0    0    0
Designer|Maker|Maker                            0     0        0    0    0
Designer|Manufacturer                           0     0        0    0    0
Designer|Manufacturer|Decorator|Designer        0     0        0    0    0
Designer|Manufacturer|Maker                     0     0        0    0    0
Maker                                           4     1        0    1    1
Maker|Designer                                  0     0        0    0    0
Maker|Maker                                     0     0        0    0    0
Maker|Maker|Decorator|Decorator|Decorator       0     0        0    0    0
Maker|Maker|Designer                            0     0        0    0    0
Maker|Manufacturer                              0     0        0    0    0
Maker|Printer                                   0     0        0    0    0
Manufacturer                                    0     0        0    0    0
Manufacturer|Designer                           0     0        0    0    0
Manufacturer|Maker                              0     0        0    0    0
Retailer|Maker                                  0     0        0    0    0

                                                                         \
Object Name                               Figure Flask Folding armchair
Artist Role

### Chapter 10

##### Grouping with Functions

In [75]:
# Finding the number of objects in each city using Grouping with Functions
merged_df.groupby("City").size()

City
Albany         6
Alexandria     1
Alloway        1
Baltimore      2
Barnstable     3
              ..
White Mills    1
Windsor        1
Wistarburg     6
Worcester      1
Zanesville     3
Length: 73, dtype: int64

##### Split/Apply/Combine

In [76]:
# Finding the oldest and most recent object within each city for each `Medium` using using split-apply-combine
# This function takes in dataframe and a column name, then return the minimum and maximum value as pandas series of that column
def oldest_and_most_recent(df, column_name="AccessionYear"):
    min_value = df[column_name].min()
    max_value = df[column_name].max()
    return pd.Series([max_value,min_value], index=["recent","oldest"])

In [77]:
# Create grouped object
grouped_year = merged_df.groupby(["City","Medium"])

In [78]:
# Apply the the user defined function to the grouped object
grouped_year.apply(oldest_and_most_recent)

                                       recent  oldest
City       Medium
Albany     Silver                      1953.0  1901.0
Alexandria Wood                        1917.0  1917.0
Alloway    Free-blown glass            1981.0  1981.0
Baltimore  Pewter                      1941.0  1939.0
Barnstable Silver                      1933.0  1928.0
...                                       ...     ...
Windsor    Oak, pine                   1910.0  1910.0
Wistarburg Free-blown non-lead glass   1937.0  1937.0
Worcester  Silver                      1933.0  1933.0
Zanesville Blown molded glass          1938.0  1938.0
           Blown pattern-molded glass  1940.0  1940.0

[191 rows x 2 columns]

### Chapter 11

##### Frequencies and date offsets

In [79]:
# Lets create a subset of dataset with columns for timeseries operations. Using columns `Object Number, AccessionYear, Object Name,Title, Medium`
df_time = df[['Object Number',
              'AccessionYear',
              'Object Name',
              'Title',
              'Medium',
             ]]

In [80]:
# view few rows
df_time.head()

,Object Number,AccessionYear,Object Name,Title,Medium
32,64.62,1964.0,Bust,Bust of Abraham Lincoln,Pressed glass
33,1970.289.6,1970.0,Clock,Acorn Clock,"Mahogany, laminated"
34,04.1a–c,1904.0,Vase,The Adams Vase,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
35,1976.319,1976.0,Side Chair,Side Chair,"Oak, tulip poplar"
39,46.140.143,1946.0,Ale glass,Ale Glass,Pressed glass

In [81]:
# Lets convert `AccessionYear` to date timestamp defaulting to `January 1st for date of every year`
accession_year_ts = pd.to_datetime(df["AccessionYear"],format="%Y")

In [82]:
# view the timeseries
accession_year_ts.head()

32   1964-01-01
33   1970-01-01
34   1904-01-01
35   1976-01-01
39   1946-01-01
Name: AccessionYear, dtype: datetime64[ns]

In [83]:
# Make the AccessionYear series as the index of the dataframe i.e time series indexed dataframe
df_time.index = accession_year_ts

In [84]:
# View few rows
df_time.head()

,Object Number,AccessionYear,Object Name,Title,Medium
AccessionYear,,,,,
1964-01-01,64.62,1964.0,Bust,Bust of Abraham Lincoln,Pressed glass
1970-01-01,1970.289.6,1970.0,Clock,Acorn Clock,"Mahogany, laminated"
1904-01-01,04.1a–c,1904.0,Vase,The Adams Vase,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
1976-01-01,1976.319,1976.0,Side Chair,Side Chair,"Oak, tulip poplar"
1946-01-01,46.140.143,1946.0,Ale glass,Ale Glass,Pressed glass

In [85]:
from pandas.tseries import offsets

# Offset the timeseries to 12 noon using Hour offset
accession_year_ts = accession_year_ts + offsets.Hour(12)

In [86]:
# Set dataframe index to the 12 noon ofsetted time series
df_time.index = accession_year_ts

In [87]:
#view few rows
df_time.head()

,Object Number,AccessionYear,Object Name,Title,Medium
AccessionYear,,,,,
1964-01-01 12:00:00,64.62,1964.0,Bust,Bust of Abraham Lincoln,Pressed glass
1970-01-01 12:00:00,1970.289.6,1970.0,Clock,Acorn Clock,"Mahogany, laminated"
1904-01-01 12:00:00,04.1a–c,1904.0,Vase,The Adams Vase,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
1976-01-01 12:00:00,1976.319,1976.0,Side Chair,Side Chair,"Oak, tulip poplar"
1946-01-01 12:00:00,46.140.143,1946.0,Ale glass,Ale Glass,Pressed glass

##### Convert timestamps to periods and back

In [88]:
# convert above dataframe with index as Timestamp to Yearly periods
df_yearly = df_time.copy() #copy dataframe
df_yearly.index = df_time.index.to_period("Y")

In [89]:
# view few rows
df_yearly.head()

,Object Number,AccessionYear,Object Name,Title,Medium
AccessionYear,,,,,
1964,64.62,1964.0,Bust,Bust of Abraham Lincoln,Pressed glass
1970,1970.289.6,1970.0,Clock,Acorn Clock,"Mahogany, laminated"
1904,04.1a–c,1904.0,Vase,The Adams Vase,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
1976,1976.319,1976.0,Side Chair,Side Chair,"Oak, tulip poplar"
1946,46.140.143,1946.0,Ale glass,Ale Glass,Pressed glass

In [90]:
# Converting back to Timestamp
df_timestamp = df_yearly.copy() #copy dataframe
df_timestamp.index = df_yearly.index.to_timestamp(how="start")

In [91]:
# view few rows after conversion
df_timestamp.head()

,Object Number,AccessionYear,Object Name,Title,Medium
AccessionYear,,,,,
1964-01-01,64.62,1964.0,Bust,Bust of Abraham Lincoln,Pressed glass
1970-01-01,1970.289.6,1970.0,Clock,Acorn Clock,"Mahogany, laminated"
1904-01-01,04.1a–c,1904.0,Vase,The Adams Vase,"Gold, amethysts, spessartites, tourmalines, fresh water pearls, quartzes, ro..."
1976-01-01,1976.319,1976.0,Side Chair,Side Chair,"Oak, tulip poplar"
1946-01-01,46.140.143,1946.0,Ale glass,Ale Glass,Pressed glass

##### Period Frequency conversions

In [92]:
# As we have duplicate year in period index, lets drop duplicate index as we will be sampling to change period frequency
df_yearly = df_yearly.groupby(df_yearly.index).first()

In [93]:
# Upsampling to `quarter level` and back filling data
df_yearly = df_yearly.resample("Q").ffill()

In [94]:
# View fiew rows after upsampling
df_yearly.head()

,Object Number,AccessionYear,Object Name,Title,Medium
AccessionYear,,,,,
1877Q1,"77.9a, b",1877.0,Vase,The Bryant Vase,Silver and gold
1877Q2,"77.9a, b",1877.0,Vase,The Bryant Vase,Silver and gold
1877Q3,"77.9a, b",1877.0,Vase,The Bryant Vase,Silver and gold
1877Q4,"77.9a, b",1877.0,Vase,The Bryant Vase,Silver and gold
1878Q1,"77.9a, b",1877.0,Vase,The Bryant Vase,Silver and gold