## Assignment Week 11 and 12 - Biswajit Sharma

### Activity 11

In [1]:
import sqlite3

In [2]:
# create a connection
conn = sqlite3.connect("petsdb")

In [3]:
# check for connection was successful by fethcing one row from a table
def check_successful_connection(conn):
    try:
        conn.execute("select * from persons limit 1")
        print("Connection successful")
    except sqlite3.ProgrammingError as err:
        print(f"Connection not succesful, faced error {err}")

In [4]:
check_successful_connection(conn)

Connection successful

Find diifferent age group in persons table

In [5]:
# declare a cursor
cur = conn.cursor()

In [6]:
# sql satement
sqlstmt = "select age, count(*) from persons group by age"

In [7]:
# execute sql statement and display data
data = cur.execute(sqlstmt)
for row in data:
    print(f"There is {row[1]} persons with age {row[0]}")

There is 2 persons with age 5
There is 1 persons with age 6
There is 1 persons with age 7
There is 3 persons with age 8
There is 1 persons with age 9
There is 2 persons with age 11
There is 3 persons with age 12
There is 1 persons with age 13
There is 4 persons with age 14
There is 2 persons with age 16
There is 2 persons with age 17
There is 3 persons with age 18
There is 1 persons with age 19
There is 3 persons with age 22
There is 2 persons with age 23
There is 3 persons with age 24
There is 2 persons with age 25
There is 1 persons with age 27
There is 1 persons with age 30
There is 3 persons with age 31
There is 1 persons with age 32
There is 1 persons with age 33
There is 2 persons with age 34
There is 3 persons with age 35
There is 3 persons with age 36
There is 1 persons with age 37
There is 2 persons with age 39
There is 1 persons with age 40
There is 1 persons with age 42
There is 2 persons with age 44
There is 2 persons with age 48
There is 1 persons with age 49
There is 1 persons with age 50
There is 2 persons with age 51
There is 2 persons with age 52
There is 2 persons with age 53
There is 2 persons with age 54
There is 1 persons with age 58
There is 1 persons with age 59
There is 1 persons with age 60
There is 1 persons with age 61
There is 2 persons with age 62
There is 1 persons with age 63
There is 2 persons with age 65
There is 2 persons with age 66
There is 1 persons with age 67
There is 3 persons with age 68
There is 1 persons with age 69
There is 1 persons with age 70
There is 4 persons with age 71
There is 1 persons with age 72
There is 5 persons with age 73
There is 3 persons with age 74

Find the age group with maximum number of people

In [8]:
# sql satement
sqlstmt = "select age, count(*) as cnt from persons group by age order by cnt desc"

In [9]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone() # fetchone returns only one row from the resultset
print(f"age group {row[0]} has maximum number of people with {row[1]} people")

age group 73 has maximum number of people with 5 people

Find the people who do not have a last name

In [10]:
# sql satement
sqlstmt = "select first_name from persons where last_name is null"

In [11]:
# execute sql statement and display data
data = cur.execute(sqlstmt)
for row in data:
    print(f"{row[0]} do not have a last name")

Erica do not have a last name
Jordi do not have a last name
Chasity do not have a last name
Gregg do not have a last name
Cary do not have a last name
Francisca do not have a last name
Raleigh do not have a last name
Maria do not have a last name
Mariane do not have a last name
Mona do not have a last name
Kayla do not have a last name
Karlie do not have a last name
Morris do not have a last name
Sandy do not have a last name
Hector do not have a last name
Hiram do not have a last name
Tressa do not have a last name
Berry do not have a last name
Pearline do not have a last name
Maynard do not have a last name
Dorian do not have a last name
Mylene do not have a last name
Lafayette do not have a last name
Tara do not have a last name
Destiny do not have a last name
Lesly do not have a last name
Perry do not have a last name
Maritza do not have a last name
Grant do not have a last name
Laury do not have a last name
Name do not have a last name
Estefania do not have a last name
Destiney do not have a last name
Jaquelin do not have a last name
Alfonzo do not have a last name
Lisandro do not have a last name
Priscilla do not have a last name
Elenora do not have a last name
Rudolph do not have a last name
Ona do not have a last name
Rebeca do not have a last name
Sigurd do not have a last name
Alice do not have a last name
Dane do not have a last name
Judge do not have a last name
Allene do not have a last name
Jalen do not have a last name
Myron do not have a last name
Travon do not have a last name
Shayna do not have a last name
Myah do not have a last name
Letha do not have a last name
Felton do not have a last name
London do not have a last name
Koby do not have a last name
Golden do not have a last name
Anissa do not have a last name
Sid do not have a last name
Ernesto do not have a last name
Josianne do not have a last name

In [12]:
# sql satement
sqlstmt = "select count(*) from persons where last_name is null"

In [13]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} people do not have last name")

60 people do not have last name

Find how many people have more than one pet

In [14]:
# sql satement
sqlstmt = "select count(*) from (select count(owner_id) as cnt from pets group by owner_id having cnt > 1)"

In [15]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} persons have more than one pet")

43 persons have more than one pet

Find how many pets have received treatment

In [16]:
# sql satement
sqlstmt = "select count(*) from pets where treatment_done=1"

In [17]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} pets have received treatment")

36 pets have received treatment

How many pets have received treatment and the type of pet is known

In [18]:
# sql satement
sqlstmt = f"select count(*) from pets where treatment_done=1 and pet_type is not null"

In [19]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} pets have received treatment when the pet type is known")

16 pets have received treatment when the pet type is known

How many pets are from city east port

In [20]:
# sql satement
sqlstmt = f"select count(*) from pets inner join persons on pets.owner_id=persons.id where persons.city='east port'"

In [21]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} pets are from city east port")

49 pets are from city east port

How many pets are from city east port who received a treatment

In [22]:
# sql satement
sqlstmt = f"select count(*) from pets inner join persons on pets.owner_id=persons.id where persons.city='east port' and pets.treatment_done=1"

In [23]:
# execute sql statement and display data
cur.execute(sqlstmt)
row = cur.fetchone()
print(f"{row[0]} pets are from city east port and who received treatment")

11 pets are from city east port and who received treatment

In [24]:
# Close connection to the DB
cur.close()